<main>
    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="https://www.svgrepo.com/show/316857/profile-simple.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="display-5 fw-bold text-body-emphasis">Hello Rina</h1>
      <div class="col-lg-6 mx-auto">
        <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-5" [ngClass]="{'active': currentSection === 'home'}" (click)="showSection('home')">Home</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-5" [ngClass]="{'active': currentSection === 'profile'}" (click)="showSection('profile')">Profile Settings</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-5" [ngClass]="{'active': currentSection === 'user-details'}" (click)="showSection('user-details')">User Details</button>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- This is where the routed component will be displayed -->
    <div class="container mt-4">
      <ng-container [ngSwitch]="currentSection">
        <app-user-details *ngSwitchCase="'user-details'"></app-user-details>
        <app-profile *ngSwitchCase="'profile'"></app-profile>
        <!-- Home content can be placed here if needed -->
      </ng-container>
    </div>
  
    <div class="b-example-divider mb-0"></div>
  </main>
  