<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <i class="bi bi-heart" style="font-size: 2rem; color: pink;"></i>
          <!-- <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
        </a>
      </div>
  
      <div class="col-md-3 text-end">
        @if (authService.isAuthenticated()) {
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col">
              HI THERE
            </div>
            <div class="col-lg">
              <button type="button" class="btn btn-outline-primary me-2" (click)="logout()">
                Logout <small><i class="bi bi-box-arrow-right"></i></small>
              </button>
            </div>
          </div>
        } @else {
          <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/login']">
            Login
          </button>
          <button type="button" class="btn btn-primary" [routerLink]="['/register']">
            Sign-up
          </button>
        }
      </div>
      
    </header>
  </div>